{% translate_default_domain textDomain %}

{{ '`n`c`b`@%s`0´b´c`n'|format(actionHof)|colorize }}
<table class="ui very compact striped table">
    <thead>
        <tr>
            <th>{{ 'section.hof.table.thead.name'|t|uncolorize }}</th>
            <th>{{ 'section.hof.table.thead.rank'|t|uncolorize }}</th>
            <th>{{ 'section.hof.table.thead.level'|t|uncolorize }}</th>
            <th>{{ 'section.hof.table.thead.exp'|t|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% for userAction in paginator|slice(skip, skip + actionsPerPage) %}
            <tr class="{{ userAction.userid == user.acctid ? 'active' : '' }}">
                <td>{{ userAction.name|colorize }}</td>
                <td>{{ loop.index + skip }}</td>
                <td>{{ userAction.lvl }}</td>
                <td>{{ userAction.exp|numeral }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
