{% trans_default_domain textDomain %}

{{ 'section.beginjourney.paragraph'|trans(_context)|colorize }}

<br>
<div class="center aligned">{{ '`^%s`0'|format(('leave.gates.0' ~ random(1, 5))|trans(_context))|colorize }}</div>
<br>

{% if showSmallMap %}
    {{ module_worldmapen_show_mini_map(mapLinks) }}
{% endif %}

{{ commentary_block({
    'section': 'mapchat-' ~ mapLoc
}, textDomain) }}

{{ module_worldmapen_show_legend(true) }}
