{% trans_default_domain textDomain %}

{{ 'section.run.numbers'|trans(_context)|colorize }}
{{ 'section.run.jackpot'|trans(_context)|colorize }}

{% if prize %}
    {{ 'section.run.winners.yes'|trans(_context)|colorize }}
{% else %}
    {{ 'section.run.winners.no'|trans(_context)|colorize }}
{% endif %}

{% if pick %}
    {{ 'section.run.buyed'|trans(_context)|colorize }}
{% else %}
    {{ 'section.run.buy.paragraph'|trans(_context)|colorize }}
    <br>
    <br>
    <form action="{{ 'runmodule.php?module=lottery&op=buy'|lotgd_url }}" method="post" class="ui form">
        <div class="center aligned inline field">
            {% for select in 0..3 %}
                <select class="ui lotgd compact selection dropdown" name="lotto[{{ select }}]" id="lotto{{ select + 1 }}">
                    {% for option in 0..9 %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
                {% if select < 3 %}
                    -
                {% endif %}
            {% endfor %}
        </div>
        <div class="center aligned field">
            <button type="submit" class="ui button">{{ 'section.run.form.button.submit'|trans|uncolorize }}</button>
        </div>
    </form>
{% endif %}
<br>
<br>
{{ 'section.run.paragraph'|trans(_context)|colorize }}
