{% trans_default_domain textDomain %}

<div class="center aligned">
    {% if 1 == useBar %}
        <div class="ui indicating tiny {{ useText ? '' : 'remove margin' }} lotgd progress" data-value="{{ current }}" data-total="{{ goal }}">
            <div class="bar"></div>
            <div class="label">
                {% if useText %}
                    {{ 'section.everyfooter.indicator.text'|trans|colorize }}
                    {{ '%s%%'|format(percent) }}
                    {% if showDollars %}
                        {% if simbolPosition %}
                            {{ simbol ~ current|numeral ~ '/' ~ simbol ~ goal|numeral }}
                        {% else %}
                            {{ current|numeral ~ simbol ~ '/' ~ goal|numeral ~ simbol }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% elseif 2 == useBar %}
        {% set nonPct = 100 - percent %}
        {% set imgWidth = 140 %}
        {% set imgHeight = 140 %}
        {% set topHeight = ((imgHeight * nonPct) / 100)|round %}
        {% set bottomHeight = imgHeight - topHeight %}

        <table style='width: 140px; height:140px; margin: auto; margin-bottom: 5px;'>
            <tr>
                <td style="background-image: url('images/Medallion-Red.gif'); background-position: top left; background-repeat: no-repeat; height: {{ topHeight }}px;"></td>
            </tr>
            {% if percent < 100 %}
                <tr>
                    <td style="background-image: url('images/Medallion-Yellow.gif'); background-position: bottom left; background-repeat: no-repeat; height: {{ bottomHeight }}px"></td>
                </tr>
            {% else %}
                <tr>
                    <td style="background-image: url(images/Medallion-Green.gif); background-position: top left; background-repeat: no-repeat; height: {{ bottomHeight }}px"></td>
                </tr>
            {% endif %}
        </table>
        {% if useText %}
            {{ 'section.everyfooter.indicator.text'|trans|colorize }}
            {{ percent }}%
            {% if showDollars %}
                {% if simbolPosition %}
                    {{ simbol ~ current|numeral ~ '/' ~ simbol ~ goal|numeral }}
                {% else %}
                    {{ current|numeral ~ simbol ~ '/' ~ goal|numeral ~ simbol }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if useText %}
            {{ 'section.everyfooter.indicator.text'|trans|colorize }}
            {{ percent }}%
            {% if showDollars %}
                {% if simbolPosition %}
                    {{ simbol ~ current|numeral ~ '/' ~ simbol ~ goal|numeral }}
                {% else %}
                    {{ current|numeral ~ simbol ~ '/' ~ goal|numeral ~ simbol }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
</div>
<p>&nbsp;</p>
