{% trans_default_domain textDomain %}

<table class="ui very compact striped collapsing centered table">
    <thead>
        <tr>
            <th>{{ 'section.default.table.thead.id'|trans|uncolorize }}</th>
            <th>{{ 'section.default.table.thead.name'|trans|uncolorize }}</th>
            <th>{{ 'section.default.table.thead.module'|trans|uncolorize }}</th>
            <th>{{ 'section.default.table.thead.edit'|trans|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% for city in paginator %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.cityName }}</td>
                <td>{{ city.module }}</td>
                <td>
                    <a href="{{ ('runmodule.php?module=cityprefs&op=editmodule&cityid=' ~ city.id)|lotgd_url }}"><i class="edit icon"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
