{% trans_default_domain text_domain %}

{% set style_width = 'style="width:' ~ exp_percent ~ '%;"' %}

<div class="h-5 w-full bg-gray-500 relative rounded overflow-hidden">
    <div id="module-expbar-progress" class="absolute h-5 {{ can_level_up ? 'bg-violet-500' : 'bg-blue-500' }}" {{ style_width }}></div>
    {% if show_label %}
        <div id="module-expbar-label" class="absolute h-5 w-full text-center text-yellow-100 whitespace-nowrap text-sm">
            {% if can_level_up %}
                {{ 'challange.master'|trans(_context)|colorize }}
                <span class="flex inline-flex">
                    <i class="animate-ping absolute inline-flex fas fa-level-up-alt text-green-300"></i>
                    <i class="relative inline-flex fas fa-level-up-alt text-green-300"></i>
                </span>
            {% else %}
                {% if show_num %}
                    {{ experience_current|numeral }}
                {% endif %}
                {% if show_next %}
                    {{ '/`G%s`0'|format(experience_require|numeral)|colorize }}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
</div>
