{% trans_default_domain textDomain %}

<table class="ui very compact striped table">
    <thead>
        <tr>
            <th>{{ 'editor.section.default.table.thead.ops'|t|uncolorize }}</th>
            <th>{{ 'editor.section.default.table.thead.id'|t|uncolorize }}</th>
            <th>{{ 'editor.section.default.table.thead.name'|t|uncolorize }}</th>
            <th>{{ 'editor.section.default.table.thead.dkn'|t|uncolorize }}</th>
            <th>{{ 'editor.section.default.table.thead.hard'|t|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% set options = { 'text': 'editor.section.default.table.tbody.del.confirm'|t }|json_encode %}
        {% for drink in paginator %}
            <tr>
                <td>
                    <div class="ui mini icon buttons">
                        <a href="{{ ('runmodule.php?module=drinks&act=editor&op=edit&admin=true&drinkid=' ~ drink.id)|lotgd_url }}" class="ui orange button">{{ 'editor.section.default.table.tbody.edit'|t|uncolorize }}</a>
                        {% if drink.active %}
                            <a href="{{ ('runmodule.php?module=drinks&act=editor&op=deactivate&admin=true&drinkid=' ~ drink.id)|lotgd_url }}" class="ui button">{{ 'editor.section.default.table.tbody.deactivate'|t|uncolorize }}</a>
                        {% else %}
                            <a href="{{ ('runmodule.php?module=drinks&act=editor&op=activate&admin=true&drinkid=' ~ drink.id)|lotgd_url }}" class="ui button">{{ 'editor.section.default.table.tbody.activate'|t|uncolorize }}</a>
                        {% endif %}
                        <a href="{{ ('runmodule.php?module=drinks&act=editor&op=del&admin=true&drinkid=' ~ drink.id)|lotgd_url }}" onclick="Lotgd.confirm(this, event)" class="ui red button" data-options="{{ options|e('html_attr') }}">{{ 'editor.section.default.table.tbody.del.label'|t|uncolorize }}</a>
                    </div>
                </td>
                <td>{{ '`^%s`0'|format(drink.id)|colorize }}</td>
                <td>{{ '`&%s`0'|format(drink.name)|colorize }}</td>
                <td>{{ '`^%s`0'|format(drink.drunkeness)|colorize }}</td>
                <td>{{ (drink.harddrink ? 'editor.section.default.table.tbody.yes' : 'editor.section.default.table.tbody.no')|t|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
