{% trans_default_domain textDomain %}

<br><br>
<table class="ui very compact striped centered collapsing table">
    <thead>
        <tr>
            <th colspan="3" class="center aligned">{{ action }}</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>{{ 'lib.minihof.table.thead.rank'|trans|uncolorize }}</th>
            <th>{{ 'lib.minihof.table.thead.name'|trans|uncolorize }}</th>
            <th>{{ 'lib.minihof.table.thead.exp'|trans|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in board %}
            <tr class="{{ row.acctid == userId ? 'active' : '' }}">
                <td>{{ row.rank|numeral }}</td>
                <td>{{ row.name|colorize }}</td>
                <td>{{ row.xp|numeral }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="center aligned">{{ 'lib.minihof.table.tbody.not.found'|trans|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
