{% translate_default_domain textDomain %}

{{ 'section.superuser.title'|t(_context)|colorize }}

<table class="ui very compact striped table">
    <thead>
        <tr>
            <th>{{ 'section.superuser.table.thead.name'|t|uncolorize }}</th>
            <th>{{ 'section.superuser.table.thead.cost.max'|t|uncolorize }}</th>
            <th>{{ 'section.superuser.table.thead.cost.min'|t|uncolorize }}</th>
            <th>{{ 'section.superuser.table.thead.exp.usage'|t|uncolorize }}</th>
            <th>{{ 'section.superuser.table.thead.exp.level'|t|uncolorize }}</th>
            <th>{{ 'section.superuser.table.thead.cost.reduction'|t|uncolorize }}</th>
            <th>{{ 'section.superuser.table.thead.dk'|t|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% for name, action in actions %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ action.maxcost|numeral }}</td>
                <td>{{ action.mincost|numeral }}</td>
                <td>{{ aciton.expperrep|numeral }}</td>
                <td>{{ action.expforlvl|numeral }}</td>
                <td>{{ action.costreduction|numeral }}</td>
                <td>{{ action.dkpct }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
