{% translate_default_domain textDomain %}

<div class="ui worldmapen centered one column grid">
    <div class="row">
        <div class="center aligned middle aligned column">
            <table class='map1'>
                {% for y in sizeY .. 1 %}
                    <tr>
                        <th scope="row">{{ y }}</th>
                        {% for x in 1 .. sizeX %}
                            {% set terrain = worldMap[x][y] %}

                            {% if not cityMap[x ~ ',' ~ y] %}
                                <td style="background: {{ terrainColor[terrain] }};" class="ui lotgd tooltip center aligned" title="({{ x }}, {{ y }}) ({{ ('map.terrain.' ~ terrain)|t }})">&nbsp;</td>
                            {% else %}
                                <td style="background: {{ terrainColor[terrain] }};" class="ui lotgd tooltip center aligned" title="{{ cityMap[x ~ ',' ~ y] }} ({{ x }}, {{ y }}) ({{ ('map.terrain.' ~ terrain)|t }})">
                                    <i class='home icon'></i>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tfoot>

                    <tr>
                        <th scope="col"><sup>Y</sup>/<sub>X</sub></th>
                        {% for x in 1 .. sizeX %}
                            <th scope="col">{{ x }}</th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
