{% trans_default_domain 'module_creationaddon' %}

<br>
<div class="grouped fields">
    {% if creationMessage %}
        <div class="required field">
            <label for="">{{ creationMessage|e('html')|colorize }}</label>
        </div>
    {% endif %}

    {% if requireage %}
        <div class="field">
            <div class="ui checkbox field">
                <input id="age" type="checkbox" name="age">
                <label for="age">{{ 'input.label.age'|trans({'age': age})|colorize }}</label>
            </div>
        </div>
    {% endif %}

    {% if requireterms %}
        <div class="field">
            <div class="ui checkbox field">
                <input id="terms" type="checkbox" name="terms">
                {% set terms = _self.modal('terms'|trans|uncolorize, stimulus_url('Lotgd\\Local\\Controller\\CreationAddOnController', 'terms')) %}
                <label for="terms">{{ 'input.label.terms'|trans({'terms': ''})|colorize }} {{ terms|raw }}</label>
            </div>
        </div>
    {% endif %}

    {% if requireprivacy %}
        <div class="field">
            <div class="ui checkbox field">
                <input id="privacy" type="checkbox" name="privacy">
                {% set privacy = _self.modal('privacy'|trans|uncolorize, stimulus_url('Lotgd\\Local\\Controller\\CreationAddOnController', 'privacy')) %}
                <label for="privacy">{{ 'input.label.privacy'|trans({'privacy': ''})|colorize }} {{ privacy|raw }}</label>
            </div>
        </div>
    {% endif %}

    {% if askbday %}
        <div class="inline field">
            <label id="bday">{{ 'input.label.birthday'|trans|colorize }}</label>
            {{ 'input.select.month'|trans }}
            <select aria-label="{{ 'input.select.year'|trans|uncolorize }}" class="ui compact dropdown" name="month" id="month">
                {% for month in 1..12 %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
            </select>
            {{ 'input.select.day'|trans }}
            <select aria-label="{{ 'input.select.day'|trans|uncolorize }}" class="ui compact dropdown" name="day" id="day">
                {% for day in 1..31 %}
                    <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
            </select>
            {% if requireyear %}
                {{ 'input.select.year'|trans }}
                <select aria-label="{{ 'input.select.year'|trans|uncolorize }}" class="ui compact dropdown" name="year" id="year">
                    {% for year in 0..75 %}
                        {% set x = ('now'|date('Y') - 13) - year %}
                        <option value="{{ x }}">{{ x }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    {% endif %}
</div>

{% macro modal(name, url) %}
    <span
        data-controller="remote-modal"
        data-remote-modal-allow-background-close="true"
        data-remote-modal-url-value="{{ url }}"
        data-remote-modal-reload-data-value="true"
    >

        <a
            {# type="button" #}
            {# class="relative w-auto py-1 ml-2" #}
            href=""
            data-remote-modal-target="activator"
            data-action="click->remote-modal#open"
        >
            {{ name }}
        </a>

        <div
            data-remote-modal-target="container"
            data-action="click->remote-modal#closeBackground keyup@window->remote-modal#closeWithKeyboard"
            class="transition duration-500 ease-in-out fixed inset-0 overflow-y-auto flex items-center justify-center whitespace-normal hidden"
        ></div>
</span>
{% endmacro %}
