{% trans_default_domain textDomain %}

{{ 'section.run.paragraph'|trans(_context)|colorize }}

<div class="center aligned">
    {{ '`c`b`&%s`0´b´c'|format(section|trans(_context))|colorize }}

    {{ 'section.run.list'|trans(_context)|colorize }}
</div>

<table class="ui centered collapsing very compact striped table">
    <thead>
        <tr>
            <th scope="col">{{ 'section.run.table.thead.module'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.run.table.thead.question'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.run.table.thead.location'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.run.table.thead.link'|trans|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% for mod in modules %}
            <tr>
                <td>{{ '`&%s`0'|format(mod.module)|colorize }}</td>
                <td>{{ '`@%s`0'|format(mod.question)|colorize }}</td>
                <td>{{ '`^%s`0'|format(mod.location)|colorize }}</td>
                <td>{{ '`#[<a href="%s">%s</a>]`0'|format(('configuration.php?op=modulesettings&module=' ~ mod.modulename)|lotgd_url, 'section.run.table.tbody.setting'|trans)|colorize }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ '`b`@%s`0´b'|format('section.run.table.tbody.count.none'|trans(_context))|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ 'section.run.table.tbody.count.total'|trans(_context)|colorize }}

{% for loc, count in locations %}
    {{ 'section.run.footer.loc'|trans({'count': count, 'loc': loc})|colorize }}
{% endfor %}

{% if errors %}
    {{ 'section.run.footer.error'|trans({'n': errors})|colorize }}
{% endif %}
